<h2><%=court.escape("name")%></h2>
<% var count = court.get("current_ballers").length%>
<% if (count == 1) { %> 
	<h3>1 baller</h3>
<% } else { %>
	<h3><%=count%> ballers</h3>
<% } %>
<h4>Current Ballers</h4>
<ul>
<% court.get("current_ballers").each(function(baller){ %>
	<%var date = new Date(baller.get('checked_in_at'));%>
	<%var newDate = new Date(date - date.getTimezoneOffset()*60000) %>
	<% debugger %>
	<li>Name: <%=baller.escape('username')%> | Checked in at: <%=newDate.toLocaleTimeString()%></li>			
<% }); %>
</ul>

<% if (AB.Store.CurrentUser.id) { %>
	<% if (!!checkIn) { %>
		<button class="btn check-out-button">Check Out</button>
	<% } else { %>
		<button class="btn check-in-button">Check In</button>
	<% } %>
<% } else { %>
	<a class="btn sign-in" href="/users/sign_in?redirect_url=/courts/<%=court.id%>">Sign In to Check In!</a>
<% } %>
