<!DOCTYPE html>
<html>
<head>
  <title>AirBB</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmvWtzGkXk7HeIcQEgRYV9qQRuh1uYY4k&libraries=places&sensor=true">
    </script>
    <script type="text/javascript">
      CURRENT_USER = <%=current_user.jsonified if user_signed_in?%>;
    </script>

  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <% if user_signed_in? %>
          <div> <%= current_user.name %> </div>
        <% else %>
          <div><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></div>
        <% end %>
      </div>
    </div>

    <div class="row-fluid">
      <div class="map-container span6 offset3">
        <button class="btn" id="new-court-button">New Court</button>
        <div id="content"></div>
        <div id="map-canvas">
        </div>
      </div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
