<!DOCTYPE html>
<html>
<head>
  <title>AirBB</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmvWtzGkXk7HeIcQEgRYV9qQRuh1uYY4k&libraries=places&sensor=true">
    </script>
    <script type="text/javascript">
      <% if user_signed_in? %>
        CURRENT_USER = <%=current_user.jsonified%>
      <% end %>;
    </script>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <img id="throbber" class="hidden" src="assets/throbber.gif" />
  <%= yield %>
</body>
</html>
